
.sc_intro .scroll{
    position: absolute;
    width: 120px;height: 100px;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.sc_intro .scroll p{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}
.sc_intro .bg{
    height: 100%;
}
.sc_intro .bg video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sc_intro .tit_txt{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 5vw;
    text-align: center;
    width: 100%;
}
.sc_intro .tit_txt .txt{display: block;position: absolute;left: 0;width: 100%;}
.sc_intro .tit_txt .txt em{font-weight: 700; font-style: italic;}
.sc_intro .tit_txt .txt01{opacity: 0;}
.sc_intro .tit_txt .txt02{opacity: 0;}
.sc_intro .tit_txt .txt03{opacity: 0;}

.sc_intro .tit_txt img{min-width: 5vw;}


.sc_intro .intro01{height: 100vh;position: relative;}

.sc_intro .intro02{height: 100vh;position: relative;
    /* background: #735985; */
    display: flex;
    align-items: center;
    font-size: 8vw;font-weight: 500;
    padding: 0 5vw;
}
.sc_intro .intro02 img{width:6vw;}
.sc_intro .intro02 p{overflow: hidden;}
.sc_intro .intro02 p span{display: block;
    /* transform: translateY(100%); */
}

.sc_intro .intro02 .txt01{font-weight: 700;}
.sc_intro .intro02 .txt02{}
.sc_intro .intro02 .txt03{}


.sc_site{
    width: 100%;
    height: 100vh;
    /* background: #735985; */
    display: flex;
    overflow: hidden;
}

.sc_site .group_site{
    min-width: 400vw;
    display: flex;
}
.sc_site .site{
    min-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.sc_site .site .imgwrap{
    width: 600px;
    display: flex;
    align-items: center;
    position: relative;
}
.sc_site .site .imgwrap img{
    width: 100%;
}
.sc_site .site .imgwrap .view{
    width: 449.1px;
    height: 337px;
    position: absolute;
    top: calc(50% + -121px);
    perspective-origin: center;
    left: calc(50% + 0px);
    transform: translate(-50%,-50%) rotate(-21deg) perspective(101.6px) rotateY(-1deg);
    overflow-y: scroll;
}
.sc_site .site .imgwrap .view img{
    width: 100%;
}
.sc_site .site .txtwrap{
    color: #fff;
    padding: 100px 20px;
}
.sc_site .site .txtwrap .num{
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 50px;
    display: block;
}
.sc_site .site .txtwrap .site_title{
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 50px;
}
.sc_site .site .txtwrap .desc{
    font-size: 1.8vw;       
    max-width: 600px; 
    line-height: 1.3;
    margin-bottom: 50px;
}
.sc_site .site .desc .time{
    display: block;
    font-size: 1.5vw;
    padding-bottom: 20px;
}
.sc_site .site .desc span{
    font-size: 1.5vw;
    display: inline-block;
    margin-bottom: 20px;
}
.sc_site .site .txtwrap .link{
    width: 200px;
    display: block;
    font-size: 1.2vw;
    position: relative;
}
.sc_site .site .txtwrap .link .arrow{
    position: absolute;
    top: 0;right: 50px;
    animation: arr 1s 0.5s infinite alternate;
}
@keyframes arr {
    0% {
        right: 50px;
    }
    100% {
        right: 0;
    }
}


/* @media screen and (max-width: 1024px) {
    .sc_intro .bg{
        width: 100%;
    }
    .sc_site .site .txtwrap{
        padding: 100px 20px;
    }
    .sc_site .site .imgwrap{
        width: 400px;
    }
    .sc_site .site .imgwrap .view {
        width: 298.1px;
        height: 225px;
        position: absolute;
        top: calc(50% + -76px);
        perspective-origin: center;
        left: calc(50% + 3px);
        transform: translate(-50%,-50%) rotate(-20deg) perspective(101.6px) rotateY(-1deg);
    }
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 480px) {
    
}
@media screen and (max-width: 320px) {
    
} */