.main_vis{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
    margin-bottom: -300px;
}
.main_vis .visbg{
    position: relative;
    background: url(../images/mainbg.jpg) no-repeat;
}
.main_vis .visbg .main_title{
    font-size: 18vw;
    position: absolute;
    top: 20vw; left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 280px;
    text-align: center;
    color: #fff;
    z-index: 2;
    background: url(../images/Prugio_bI.png) no-repeat 50%/cover;
}
.main_vis .bg01{
    width: 100%;
    margin-top: 120px;
    transform: scale(0.5) translateY(-30%);
}
.main_vis .bg02{
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 120px;left: 0;
    transform: scale(0.5) translateY(-30%);
}
.intro_wrap > a{
    z-index: 4;
    visibility: hidden;
    opacity: 0;
}
.intro_wrap .plus{
    position: relative;
    display: flex;
}
.intro_wrap .plus.apt{
    flex-direction: row-reverse;
}
.intro_wrap .plus_btn{
    width: 80px;height: 80px;
    display: block;
    background: #5a6770;
    border-radius: 50%;
    margin-right: 30px;
    transition: background 0.5s;
}
.intro_wrap .plus:hover .plus_btn{
    background: #fff;
}
.intro_wrap .title{
    font-weight: 500;
    color: #fff;
    font-size: 30px;
}
.intro_wrap .subtit{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding-top: 20px;
    display: inline-block;
}
.intro_wrap .txt_wrap{
    display: none;
    width: 400px;
    padding: 60px;
    background: #5a6770;
    box-sizing: border-box;
    word-break: keep-all;
}
.intro_wrap .plus.pent .txt_wrap,
.intro_wrap .plus.hotel .txt_wrap {
    display: block;
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: 0.5s;
}
.intro_wrap .plus.pent:hover .txt_wrap,
.intro_wrap .plus.hotel:hover .txt_wrap {
    left: 40px;
    opacity: 1;
}
.intro_wrap .plus.apt .txt_wrap{
    display: block;
    position: absolute;
    right: 40%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: 0.5s;
}
.intro_wrap .plus.apt:hover .txt_wrap{
    right: 20%;
    opacity: 1;
}
.intro_wrap .txt_wrap .desc{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    padding-top: 20px;
}
.intro_wrap .plus.pent{
    position: absolute;
    left: 50vw;top: 17vw;
}
.intro_wrap .plus.apt{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    left: 16vw;top: 55vw;
}
.intro_wrap .plus.hotel{
    position: absolute;
    left: 65vw; top: 45vw;
}
.intro_wrap .plus.apt .plus_btn{
    margin-left: 30px;
}
.hidden_box {
    position: absolute;
    bottom: 400px;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.intro_banner{
    position: absolute;
    bottom: 0;
    padding: 0 80px;
    height: 400px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.intro.group01{
    width: 40%;
    height: 100%;
    background: #8b8075;
    color: #fff;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.intro.group01 .title_wrap{
    width: 70%;
    font-size: 38px;
}
.intro.group01 .title_wrap p{
    font-size: 18px;
    line-height: 1.5;
    padding-top: 20px;
}
.intro.group01 .txt_wrap{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.intro.group01 .hotel_logo{
    width: 40px;height: 40px;
    border-radius: 50%;
    background: url(../images/Prugio_character.png) no-repeat 50%/80%;
}
.intro.group01 .dsc li{
    text-align: right;
    font-weight: bold;
    line-height: 26px;
}
.intro.group02{
    width: 30%;
    /* width: 400px; */
    height: 100%;
    position: relative;
    overflow: hidden;
}
.intro.group02 .img_wrap{
    width: 100%;height: 100%;
    transition: transform 0.5s;
}
.intro.group02:hover .img_wrap{
    transform: scale(1.1,1.1);
}
.intro.group02 img{
    width: 100%;height: 100%;
    object-fit: cover;
}
.intro.group02 .sub{
    position: absolute;
    right: 40px;bottom: 40px;
    color: #fff;
    text-align: right;
    font-weight: bold;
    line-height: 26px;
}
.intro.group02 .btn{
    position: absolute;
    right: 40px;top: 40px;
    width: 40px;height: 40px;
    display: inline-block;
    background: url(../images/arrow.png) no-repeat 50%/60%;
    transition: background 0.3s;
}

/* sc */
.sc_service{
    position: relative;
}
.sc_service .service_bg{
    width: 65vw;
    height: 65vw;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
}
.sc_service .service_bg img{
    width: 100%;
    height: 100%;
}
.sc_service .title_wrap{
    display: flex;
    justify-content: space-between;
    padding: 80px;
}
.sc_service .sc_title{
    color: #005151;
    font-size: 120px;
    font-weight: 500;
    line-height: 117px;
}
.sc_service .sc_sub{
    color: #8b8075;
    font-size: 33px;
    line-height: 43px;
    text-align: right;
}
.sc_service .thumb_wrap{
    position: relative;
    margin: 15vw 0;
    text-align: center;
}
.sc_service .thumb_wrap .thumb_txt{
    color: #fff;
    font-size: 15vw;
    position: absolute;
    right: 10vw;top: -8vw;
    z-index: 2;
}
.sc_service .thumb{
    position: relative;
}
.sc_service .thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;left: 0;
}
.sc_service .thumb01{
    width: 25vw;height: 25vw;
    z-index: 1;
    position: absolute;
    top: 12vw;left: 8vw;
}
.sc_service .thumb02{
    width: 40vw;height: 40vw;
    margin: 0 auto;
    overflow: hidden;
}
.sc_service .thumb02 img{
    transition: 0.5s;
}
.sc_service .thumb02:hover img{
    transform: scale(1.1,1.1);
}
.sc_service .thumb03{
    width: 30vw;height: 30vw;
    position: absolute;
    top: 8vw;right: 5vw;
}
.sc_service .thumb_wrap p{
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 30px;bottom: 28px;
}
.sc_service .sub_desc{
    color: #fff;
    font-size: 32px;
    line-height: 1.5;
    width: 30vw;
    margin: 80px auto 0;
    position: relative;
    z-index: 2;
}
/* enjoy */
.sc_enjoy {
    padding: 20vw 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.sc_enjoy .enjoy_bg{
    width: 65vw;
    height: 65vw;
    position: absolute;
    right: 0;top: -10%;
}
.sc_enjoy .enjoy_bg img{
    width: 100%;
    height: 100%;
}
.sc_enjoy .sc_title{
    color: #8b8075;
    font-size: 120px;
    font-weight: 500;
    margin-left: 15vw;
    z-index: 2;
}
.sc_enjoy .thumb_wrap{
    width: 70%;
    display: flex;
    z-index: 1;
    margin-top: -7vw;
    margin-left: 30%;
}
.sc_enjoy .thumb01{
    flex: 1;
    height: 40vw;
}
.sc_enjoy .thumb01 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc_enjoy .thumb02{
    width: 100px;
    height: 40vw;
   margin-left: 20px;
   overflow: hidden;
}
.sc_enjoy .thumb02 img{
    height: 100%;
}
.sc_enjoy .sub_desc{
    color: #fff;
    width: 18vw;
    line-height: 1.5;
    font-size: 18px;
    z-index: 1;
    margin-left: 15%;
    margin-top: -10vw;
}
.sc_enjoy .sub_desc a{
    margin-top: 80px;
    display: inline-block;
    line-height: 2;
    position: relative;
}
.sc_enjoy .sub_desc a:before{
    content: '';
    display: block;
    width: 100%;
    border-bottom: 2px solid #fff;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.sc_enjoy .sub_desc a:after{
    content: '';
    display: block;
    width: 100%;
    border-bottom: 2px solid #005151;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: width 0.5s;
}
.sc_enjoy .sub_desc a:hover::after{
    width: 0;
}

/* infra */
.sc_infra{
    display: flex;
    justify-content: flex-start;
    margin-right: 10vw;
    padding-bottom: 15vw;
}
.sc_infra .swiper{
    height: 80vh;
    padding-bottom: 100px;
}
.sc_infra .infra_txt{
    flex: 1 0 45vw;
    background: #8b8075;
    padding: 4vw;
    box-sizing: border-box;
    color: #fff;
}
.sc_infra .infra_txt .swiper-slide{
    background: #8b8075;
    position: relative;
}
.sc_infra .infra_txt .sc_sub{
    font-size: 1.5vw;
}
.sc_infra .infra_txt .sc_title{
    font-size: 3vw;
    font-weight: 500;
    line-height: 1.2;
    text-align: right;
    transform-origin:right top;
    transform: rotate(270deg);
    position: absolute;
    top: 0;right: 4vw;
}
.sc_infra .swiper-button-next, .sc_infra .swiper-button-prev{
    top: 90%;
    color: #fff;
}   
.sc_infra .swiper-button-prev {
    left: 4vw;
}
.sc_infra .swiper-button-next {
    left: 8vw;
}
.sc_infra .swiper-button-next:after, .sc_infra .swiper-button-prev:after{
    font-size: 2vw;
}
.sc_infra .infra_img{
    flex: 1 0 45vw;
}
.sc_infra .infra_img .img_wrap{
    height: 100%;
    transition: transform 0.5s;
}
.sc_infra .infra_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc_infra .infra_img .swiper-slide{
    overflow: hidden;
    position: relative;
}
.sc_infra .swiper-slide:hover .img_wrap{
    transform: scale(1.1,1.1);
}
.sc_infra .infra_more{
    width: 5vw;
    height: 5vw;
    display: block;
    background: #8b8075 url(../images/arrow-wh.png) no-repeat center/40%;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.sc_infra .swiper-slide:hover .infra_more{
    background: #8b8075 url(../images/arr-gr.png) no-repeat center/40%;
}
.sc_infra .swiper-pagination{
    position: relative;
}
.sc_infra .swiper-pagination-fraction {
    color: #fff;
    position: absolute;
    left: 20%;
    bottom: 38px;
}
.sc_infra .swiper-pagination-current {
    font-size: 10vw;
    margin-right: 15vw;
}

/* place */
.sc_place {
    position: relative;
}
.sc_place .sub_desc{
    color: #fff;
    width: 28vw;
    font-size: 20px;
    line-height: 2;
    margin-left: 50vw;
    margin-bottom: 20vw;
}
.sc_place .sc_title{
    color: #005151;
    font-size: 8vw;
    font-weight: 500;
    margin-left: 6vw;
}
.sc_place .img_wrap{
    width: 45vw;height: 45vw;
    margin: -20vw auto 0;
}
.sc_place .img_wrap img{
    width: 100%;height: 100%;
    object-fit: cover;
}
.sc_place .sc_sub{
    color: #fff;
    font-size: 3vw;
    text-align: right;
    position: absolute;
    bottom: 3vw;right: 3vw;
}

/* location */
.sc_location{
    padding-bottom: 200px;
    background: #fff;
}
.sc_location .loca_thumb{
    height: 40vw;
}
.sc_location .loca_thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc_location .loca_bg {
    width: 40vw;
    position: absolute;
}
.sc_location .loca_bg img {
    width: 100%;
    object-fit: cover;
}
.sc_location .loca_slide{
    display: flex;
    justify-content: flex-end;
    margin-left: 20%;
    margin-top: -10vw;
}
.loca_slide .swiper{
    height: 70vh;
}
.loca_slide .loca_img{
    flex: 1 0 45vw;
}
.loca_slide .loca_img .img_wrap{
    height: 100%;
}
.loca_slide .loca_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.loca_slide .loca_txt{
    flex: 1 0 45vw;
    color: #fff;
    background: #8b8075;
    padding: 4vw;
    box-sizing: border-box;
}
.loca_slide .loca_txt .swiper-slide{
    width: 100%;height: 100%;
    background: #8b8075;
    position: relative;
}
.loca_slide .loca_txt .sc_title{
    display: inline-block;
}
.loca_slide .loca_txt .sc_title .time{
    font-size: 5vw;
    display: block;
    margin-bottom: 20px;
}
.loca_slide .loca_txt .sc_title .walk{
    font-size: 1vw;
}
.loca_slide .loca_txt .sc_sub{
    font-size: 2vw;
    position: absolute;
    right: 0;top: 0;
    text-align: right;
}
.loca_txt .swiper-button-next, .loca_txt .swiper-button-prev{
    top: 90%;
    color: #fff;
}   
.loca_txt .swiper-button-prev {
    left: 35vw;
}
.loca_txt .swiper-button-next {
    right: 4vw;
}
.loca_txt .swiper-button-next:after, .loca_txt .swiper-button-prev:after{
    font-size: 2vw;
}
.sc_location .sub_desc{
    width: 40vw;
    color: #000;
    margin: 15vw 0 15vw 50vw;
}
.sc_location .sub_desc p{
    font-size: 1.8vw;
    line-height: 1.5;
}
.sc_location .sub_desc a{
    display: inline-block;
    padding-top: 3vw;
    line-height: 2;
    position: relative;
}
.sc_location .sub_desc a::before{
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: #8b8075;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: width 0.5s;
}
.sc_location .sub_desc a:after{
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: #000;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.sc_location .sub_desc a:hover:before{
    width: 0;
}
.sc_location .gallery{
    position: relative;
    height: 40vw;
}
.gallery .swiper-slide{
    width: 21%;
    height: 15vw;
    transition: 1s;
}
.gallery .swiper-slide-active{
    width: 42%;
    height: 30vw;
}
.gallery .swiper-slide .img_wrap{
    width: 100%;height: 100%;
}
.gallery .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery .swiper-button-next{
    right: auto;
    left: 50%;
    top: 82%;
    color: #000;
}
.gallery .swiper-button-prev{
    left: 45%;
    top: 82%;
    color: #000;
}
.gallery .swiper-button-next:after,
.gallery .swiper-button-prev:after {
    font-size: 1.5vw;
}
.gallery .swiper-pagination{
    width: 80px;
    left: 60%;
    bottom: auto;
    top: 82%;
    color: #000;
}

/* arch */
.sc_arch{
    position: relative;
}
.sc_arch .arch_thumb{
    height: 45vw;
}
.sc_arch .arch_thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc_arch .arch_bg{
    position: absolute;
    right: 0; top: 60vw;
    width: 50vw;
}
.sc_arch .arch_bg img{
    width: 100%;
    object-fit: cover;
}
.sc_arch .sc_wrap {
    position: relative;
    margin: 4vw;
    height: 60vw;
}
.sc_arch .sc_title{
    color: #8b8075;
    font-size: 5vw;
    font-weight: 500;
    line-height: 1.2;
    position: absolute;
    z-index: 2;
}
.sc_arch .sc_sub {
    display: flex;
    flex-direction: column;
    text-align: right;
    position: absolute;
    top: 10px;right: 0;
}
.sc_arch .sc_sub .sub_title {
    color: #fff;
    font-size: 2vw;
    line-height: 1.2;
    padding-bottom: 2vw;
}
.sc_arch .sc_sub .sub{
    color: #005151;
    font-size: 1vw;
    font-weight: 600;
}
.sc_arch .content{
    position: absolute;
    top: 15vw;right: 10vw;
}
.sc_arch .interview {
    display: flex;
}
.sc_arch .interview .cont {
    width: 25vw;height: 25vw;
    overflow: hidden;
    position: relative;
    margin-right: 1vw;
}
.sc_arch .interview .cont .img_wrap{
    transition: transform 0.5s;
}
.sc_arch .interview .cont:hover .img_wrap{
    transform: scale(1.1,1.1);
    position: relative;
}
.sc_arch .interview .img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc_arch .interview .cont p{
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 5px 10px;
    line-height: 1.5;
    position: absolute;
    right: 0;top: 0;
}
.sc_arch .dsc{
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 50vw;
    padding-top: 7vw;
    word-break: keep-all;
}
.sc_arch .sub_desc p{
    width: 30vw;
    font-size: 1vw;
    line-height: 1.5;
}
.sc_arch .dsc a{
    line-height: 2;
    position: relative;
}
.sc_arch .dsc a::before{
    content: '';
    width: 100%;height: 2px;
    display: block;
    background: #005151;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: width 0.5s;
}
.sc_arch .dsc a::after{
    content: '';
    width: 100%;height: 2px;
    display: block;
    background: #fff;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.sc_arch .dsc a:hover:before{
    width: 0;
}
.sc_arch .arch_slide{
    display: flex;
    margin-right: 10%;
}
.sc_arch .swiper{
    height: 80vh;
}
.sc_arch .arch_txt{
    flex: 1 0 45vw;
    background: #8b8075;
    padding: 4vw;
    box-sizing: border-box;
    position: relative;
}
.sc_arch .arch_txt .swiper-slide{
    background: #8b8075;
    position: relative;
}
.sc_arch .arch_txt .slide_sub{
    font-size: 1vw;
    line-height: 1.5;
}
.sc_arch .arch_txt .slide_sub .tit{
    font-size: 1.5vw;
    font-weight: 600;
}
.sc_arch .arch_txt .slide_title{
    font-size: 3vw;
    transform-origin:right top;
    transform: rotate(270deg);
    position: absolute;
    top: 0;right: 3vw;
}
.sc_arch .swiper-button-next, .sc_arch .swiper-button-prev{
    top: 90%;
    color: #fff;
}   
.sc_arch .swiper-button-prev {
    left: 4vw;
}
.sc_arch .swiper-button-next {
    left: 8vw;
}
.sc_arch .swiper-button-next:after, .sc_arch .swiper-button-prev:after{
    font-size: 2vw;
}
.sc_arch .swiper-pagination-fraction{
    width: 50%;
    position: absolute;
    left: 60%;bottom: 9%;
}
.sc_arch .arch_img{
    flex: 1 0 45vw;
}
.sc_arch .arch_img .img_wrap{
    height: 100%;
    overflow: hidden;
}
.sc_arch .arch_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc_arch .arch_img .swiper-slide{
    overflow: hidden;
}
.sc_arch .arch_img .swiper-slide .img_wrap{
    position: relative;
    transition: transform 0.5s;
}
.sc_arch .arch_img .swiper-slide:hover .img_wrap{
    transform: scale(1.1,1.1);
}
.sc_arch .arch_img .swiper-slide img{
    width: 100%;height: 100%;
    object-fit: cover;
}
.sc_arch .arch_more{
    width: 5vw;
    height: 5vw;
    display: block;
    background: #8b8075 url(../images/arrow-wh.png) no-repeat center/40%;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.sc_arch .swiper-slide:hover .arch_more{
    background: #8b8075 url(../images/arr-gr.png) no-repeat center/40%;
}

/* news */
.sc_news {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    margin: 10vw 0 15vw;
}
.sc_news .sc_title {
    flex: 1 0 30%;
    font-size: 4.5vw;
    color: #005151;
    font-weight: 500;
    text-align: right;
    position: relative;
}
.sc_news .sc_title .txt01 {
    display: inline-block;
    transform-origin: right bottom;
    transform: rotate(270deg);
    position: absolute;
    top: -10%;
    left: 0;
}
.sc_news .sc_title .txt02 {
    display: inline-block;
    transform-origin: right bottom;
    transform: rotate(270deg);
    position: absolute;
    top: 0;
    left: 30px;
}
.sc_news .news_cont{
    flex: 1 0 60%;
}
.sc_news .news li{
    padding: 2vw 0;
    border-bottom: 1px solid #808080;
}
.sc_news .news li a{
    display: flex;
    justify-content: space-between;
}
.sc_news .news .img_wrap {  
    width: 12vw;height: 13vw;
    border: 2px solid #8b8075;
}
.sc_news .news .img_wrap img{
    width: 100%;height: 100%;
    object-fit: cover;
}
.sc_news .news .txt_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}
.sc_news .news  .title{
    display: block;
    color: #fff;
    font-size: 1.8vw;
    line-height: 1.5;
    transition: color 0.5s;
}
.sc_news .news li:hover .title{
    color: #8b8075;
}
.sc_news .dsc {
    color: #808080;
    display: flex;
    justify-content: space-between;
}
.sc_news .news_cont > a {
    display: inline-block;
    line-height: 2;
    color: #fff;
    margin-top: 4vw;
    position: relative;
}
.sc_news .news_cont > a:before{
    content: '';
    width: 100%;height: 2px;
    display: block;
    background: #005151;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: width 0.5s;
}
.sc_news .news_cont > a:after{
    content: '';
    width: 100%;height: 2px;
    display: block;
    background: #fff;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.sc_news .news_cont > a:hover:before{
    width: 0;
}

/* select */
.sc_select {
    position: relative;
}
.sc_select .select_bg {
    width: 100%;
    position: absolute;
    right: 0;
    overflow: hidden;
}
.sc_select .select_bg img{
    width: 100%;
    object-fit: cover;
}
.sc_select .sc_title{
    color: #fff;
    font-size: 10vw;
    text-align: center;
    display: block;
    width: 100%;
    margin: 10vw 0;
    position: absolute;
    top: -5%;
    z-index: 2;
}
.sc_select .thumb_wrap {
    height: 45vw;
    overflow: hidden;
}
.sc_select .thumb01{
    height: 13vw;
    position: absolute;
    top: 42vw;
    left: 25%;
    z-index: 2;
}
.sc_select .thumb01 img{
    height: 100%;
}
.sc_select .thumb02{
    width: 32vw;
    height: 45vw;
    border-radius: 16vw 16vw 0 0;
    overflow: hidden;
    position: absolute;
    top: 25vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    transition: all 0.5s;
}
.sc_select .thumb02:hover{
    border-radius: 0 0 0 0;
}
.sc_select .thumb02 img{
    height: 100%;
    object-fit: cover;
}
.sc_select .thumb02 .more_btn{
    width: 4vw;
    height: 4vw;
    display: block;
    background: #8b8075 url(../images/arrow-wh.png) no-repeat center/40%;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.sc_select .thumb02:hover .more_btn{
    background: #8b8075 url(../images/arr-gr.png) no-repeat center/40%;
}
.sc_select .thumb03{
    position: absolute;
    z-index: 4;
    top: 43vw;
    left: 58%;
} 